<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="Responsive, HTML5">
    <!-- /meta tags -->
    <title>Portal Admin</title>

    <link rel="shortcut icon" href="../scripts/libs/CustomTheme/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- /site favicon -->
    <!-- Font Icon Styles -->
    <link href="../scripts/libs/CustomTheme/assets/fonts/noir-pro/styles.css" rel="stylesheet" />
    <link href="../scripts/libs/CustomTheme/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link href="../scripts/libs/CustomTheme/assets/vendor/gaxon-icon/styles.css" rel="stylesheet" />
    <!-- /font icon Styles -->
    <!-- Perfect Scrollbar stylesheet -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="../scripts/libs/CustomTheme/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <!-- /perfect scrollbar stylesheet -->
    <link href="../scripts/libs/CustomTheme/assets/css/default/theme-semidark.min.css" rel="stylesheet" />
    <link href="../scripts/libs/CustomTheme/assets/css/default/portal-admin-styles.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
    <!--multiselect dropdown-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" type="text/css">


    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

    <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/redmond/jquery-ui.css" />
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  
    <link href="../Styles/PortalAdmin_driftTheme.css" rel="stylesheet" />
    <script>
        var rtlEnable = '';
        var $mediaUrl = '';
        var $baseUrl = '../';
        var current_path = window.location.href.split('/').pop();
        if (current_path == '') {
            current_path = 'index.html';
        }
    </script>
    <!--<script src="../scripts/libs/CustomTheme/plugins/jquery/js/jquery.min.js"></script>-->
    <script src="../scripts/libs/CustomTheme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/libs/CustomTheme/plugins/moment/js/moment.min.js"></script>
    <!--<script src="../scripts/libs/CustomTheme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    <!-- Perfect Scrollbar jQuery -->
    <script src="../scripts/libs/CustomTheme/plugins/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <!-- /perfect scrollbar jQuery -->

</head>
<body class="dt-layout--default dt-sidebar--fixed dt-header--fixed">
    <!-- Loader -->
    <div class="modal fade" id="PortalLoginForm" tabindex="-1" role="dialog"
         aria-labelledby="model-8"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <!-- Modal Content -->
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title" id="model-8">
                        Sign in Portal for Arcgis
                    </h3>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- /modal header -->
                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="loginForm">
                        <div class="form-group">
                            <label for="portalurl" class="col-form-label">Enter Portal URL</label>
                            <input class="form-control form-control-sm " id="portalurl" name="Portal url"
                                   type="text">
                        </div>
                        <div class="dt-card__body1 tabs-container">

                            <!-- Tab Navigation -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="LoginMode1" data-toggle="tab" href="#DirectLogin" role="tab" aria-controls="directLogin" aria-selected="true">Direct Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="LoginMode2" data-toggle="tab" href="#OAuthLogin" role="tab" aria-controls="oAuth" aria-selected="true">OAuth Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="LoginMode3" data-toggle="tab" href="#PkiLogin" role="tab" aria-controls="pkilogin" aria-selected="true">PKI or IWA  Login</a>
                                </li>
                            </ul>
                            <!-- /tab navigation -->
                            <!-- Tab Content -->
                            <div class="tab-content">

                                <!-- Tab Pane -->
                                <div id="DirectLogin" class="tab-pane active">
                                    <div class="card-body" style="padding:1rem !important">
                                        <div class="form-group">
                                            <label for="defaultForm-username" class="col-form-label">Enter Username</label>
                                            <input class="form-control  form-control-sm " id="defaultForm-username" name="Username"
                                                   type="text">
                                        </div>
                                        <div class="form-group ">
                                            <label for="defaultForm-password" class="col-form-label">Enter Password</label>
                                            <input class="form-control aut  form-control-sm " id="defaultForm-password" name="Password"
                                                   type="password">
                                        </div>

                                    </div>
                                </div>
                                <!-- /tab pane-->
                                <!-- Tab Pane -->
                                <div id="OAuthLogin" class="tab-pane">
                                    <div class="card-body" style="padding:1rem !important">
                                        <div class="form-group">
                                            <label for="appid" class="col-form-label">App ID</label>
                                            <input class="form-control form-control-sm" id="appid" name="appid"
                                                   type="text">
                                        </div>
                                        <div class="form-group">
                                            <h6 style="line-height: 1.6;">Note: In order to log in to a Portal for ArcGIS instance using a SAML-based Identity Provider, you will need to Register Portal Admin as an application in your Portal, to generate an AppID that can identify this app as an allowed client of the Portal. To do so, follow the instructions <a href="http://server.arcgis.com/en/portal/latest/administer/linux/add-items.htm#ESRI_SECTION1_0D1B620254F745AE84F394289F8AF44B" style="text-decoration:underline" target="_blank">here</a> , using Application as the Type of App and https://aiapps.smartgeoapps.com/ as the Redirect URI.</h6>
                                        </div>
                                    </div>

                                </div>
                                <!-- /tab pane-->
                                <div id="PkiLogin" class="tab-pane">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <h6 style="line-height:1.6">Note: This login method is used for Portals with web-tier authentication, using username and password or client certificate (PKI) authentication methods, often referred to as “SSO” or Single Sign On). This authentication method is most often used for internal-facing Portals inside of an intranet. <a href="http://server.arcgis.com/en/portal/latest/administer/windows/use-integrated-windows-authentication-with-your-portal.htm" target="_blank" style="text-decoration:underline">More info</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab content -->

                        </div>


                    </form>
                </div>
                <!-- /modal body -->
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm close_modal"
                            data-dismiss="modal">
                        CLOSE
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" id="LoginforPortal"
                            data-dismiss="modal">
                        LOGIN
                    </button>
                </div>
                <!-- /modal footer -->

            </div>
            <!-- /modal content -->

        </div>
    </div>
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">
            <!-- Header -->
            <header class="dt-header">

                <div header-include-html="Header.html"></div>

            </header>
            <!-- /header -->
            <!-- Site Main -->
            <main class="dt-main">
                <!-- Sidebar -->
                <aside id="main-sidebar" class="dt-sidebar">
                    <div menu-include-html="Menu.html"></div>
                </aside>

                <!-- /sidebar -->
                <!-- Site Content Wrapper -->
                <div class="dt-content-wrapper">

                    <!-- Site Content -->
                    <div class="dt-content">
                        <!-- Page Header -->
                        <!--<div class="dt-page__header">
                            <h1 class="dt-page__title">Copy Users to Organization</h1>
                        </div>-->
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item breadcrumb_Home" style="font-weight:600"><a href="javascript:void(0)">Copy Users to Organization</a></li>
                            <!--<li class="active breadcrumb-item">Library</li>-->
                        </ol>

                        <!-- /page header -->
                        <!-- Grid -->
                        <div class="row">
                            <div class="col-12 order-xl-12">

                                <!-- Card -->
                                <!-- Edit User -->
                                <!-- Export Users-->
                                <div class="dt-card" id="Wizard_cloneUsers">
                                    <div class="dt-card__body" style="padding-bottom:0px">
                                        <div class="container-fluid">
                                            <div class="row justify-content-center">
                                                <div class="col-11 col-sm-9 col-md-12 col-lg-6 col-xl-12 text-center p-0">
                                                    <div class="Stepscard px-0 pt-4 pb-0">
                                                        <form id="msform">
                                                            <!-- progressbar -->
                                                            <ul id="progressbar">
                                                                <li class="FourItems active" id="SelectItems"><strong>Select Items</strong></li>
                                                                <li class="FourItems" id="SignIn"><strong>Sign In</strong></li>
                                                                <li class="FourItems" id="Migrate"><strong>Migrate</strong></li>
                                                                <li class="FourItems" id="Finish"><strong>Finish</strong></li>
                                                            </ul>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <br>
                                                            <!-- fieldsets -->
                                                            <fieldset>
                                                                <div class="form-card">
                                                                    <div class="row" style="display:none">
                                                                        <div class="col-7">
                                                                            <h3 class="fs-title">Select Items</h3>
                                                                        </div>
                                                                        <div class="col-5">
                                                                            <h2 class="steps">Step 1 - 4</h2>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="row col-md-12 text-left">
                                                                            <div class="col-md-1 col-form-label text-sm-left pageSize_label" for="email-2">Page Size</div>
                                                                            <div class="col-md-1 col-9">
                                                                                <select class="custom-select custom-select-sm" id="pageSize" style="width:78px">
                                                                                    <option value="5">5</option>
                                                                                    <option value="10">10</option>
                                                                                    <option value="30" selected="selected">30</option>
                                                                                    <option value="50">50</option>
                                                                                    <option value="100">100</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <input class="ml-5 form-control form-control-sm" type="text" title="search by user name/user type/role/access" placeholder="search by user name/user type/role/access" id="search">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <hr class="mb-0 pb-0">
                                                                    <div class="">
                                                                        <div id="sourceUsers"></div>
                                                                    </div>
                                                                </div>
                                                                <input type="button" name="next" class="next action-button first-next" value="Next" />
                                                            </fieldset>
                                                            <fieldset>
                                                                <div class="form-card">
                                                                    <div class="row" style="display:none">
                                                                        <div class="col-7">
                                                                            <h2 class="fs-title">Sign In Destination Portal</h2>
                                                                        </div>
                                                                        <div class="col-5">
                                                                            <h2 class="steps">Step 2 - 4</h2>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-card">
                                                                                <p>Migrating selected users from source portal to destination portal</p>
                                                                                <button type="button" id="Targetarcgisonline" class="btn btn-secondary">Signin Arcgis Online</button>
                                                                                <button type="button" id="Targetportal" data-toggle="modal" data-target="#PortalLoginForm" class="btn btn-secondary">Signin Portal for Arcgis</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr class="mt-10 pb-0">
                                                                </div>
                                                                <input type="button" name="next" class="next action-button" id="login-done" value="Next" style="display:none" />
                                                                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                                            </fieldset>
                                                            <fieldset>
                                                                <div class="form-card">
                                                                    <div class="row" style="display:none">
                                                                        <div class="col-7">
                                                                            <h2 class="fs-title">Selected Information:</h2>
                                                                        </div>
                                                                        <div class="col-5">
                                                                            <h2 class="steps">Step 3 - 4</h2>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12 order-xl-8 pl-0">

                                                                            <!-- Card -->
                                                                            <div class="dt-card dt-card__full-height pb-4">

                                                                                <!-- Card Header -->
                                                                                <div class="dt-card__header bg-primary mb-3 py-3">

                                                                                    <!-- Card Heading -->
                                                                                    <div class="dt-card__heading">
                                                                                        <h3 class="dt-card__title text-white">Selected Items</h3>
                                                                                    </div>
                                                                                    <!-- /card heading -->
                                                                                    <!-- Card Tools -->
                                                                                    <div class="dt-card__tools">
                                                                                        <div class="badge badge-light display-3 itemCount">4</div>
                                                                                    </div>
                                                                                    <!-- /card tools -->

                                                                                </div>
                                                                                <!-- /card header -->
                                                                                <!-- Card Body -->
                                                                                <div class="dt-card__body p-0 max-h-200 ps-custom-scrollbar">
                                                                                    <!-- Widget -->
                                                                                    <div class="dt-widget dt-widget-hover" id="sel_Users">

                                                                                    </div>
                                                                                    <!-- /widget -->
                                                                                </div>
                                                                                <!-- /card body -->

                                                                            </div>
                                                                            <!-- /card -->

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <input type="button" id="migrate-btn" name="next" class="next action-button mgr-action" value="Confirm" />
                                                                <input type="button" name="previous" class="previous action-button-previous mig-previous" value="Previous" />
                                                            </fieldset>
                                                            <fieldset>
                                                                <div class="form-card">
                                                                    <div class="row" style="display:none">
                                                                        <div class="col-7">
                                                                            <h2 class="fs-title">Finish:</h2>
                                                                        </div>
                                                                        <div class="col-5">
                                                                            <h2 class="steps">Step 4 - 4</h2>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <br>
                                                                    <div id="loader" class="spinner-border text-primary" style="width: 3rem; height: 3rem;margin-left:50%" role="status">
                                                                        <span class="sr-only">Loading...</span>
                                                                    </div>
                                                                    <div id="migrate-complete" class="form-card" style="display:none">
                                                                        <div id="groups-update">
                                                                        </div>
                                                                        <p><strong></strong></p><br />
                                                                        <div class="row">
                                                                            <button type="button" id="update-users" class="btn btn-primary btn-sm" style="margin-right:16px">Update</button>
                                                                            <button type="button" id="no-update-req" class="btn btn-secondary btn-sm">No</button>
                                                                        </div>
                                                                    </div>
                                                                    <div id="migrate-success" class="form-card" style="display:none">
                                                                        <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                                                        <div class="row justify-content-center">
                                                                            <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                                                        </div> <br><br>
                                                                        <div class="row justify-content-center">
                                                                            <div class="col-7 text-center">
                                                                                <h5 class="purple-text text-center success_msg">Successfully Copied Users</h5>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="migrate-fail" class="form-card" style="display:none">
                                                                        <h2 class="purple-text text-center"><strong>Failed !</strong></h2> <br>
                                                                        <div class="row justify-content-center">
                                                                            <div class="col-7 text-center">
                                                                                <h3 style="color:red" class="text-center failure_msg">Failed to Copy Users</h3>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row justify-content-center">
                                                                            <div class="col-3"> <img src="../Images/Failure.png" class="fit-image"> </div>
                                                                        </div> <br><br>

                                                                    </div>
                                                                </div>
                                                                <input type="button" id="ReturnHome" name="next" class="action-button" value="Home" />
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- /card -->

                            </div>
                        </div>

                    </div>

                    <!-- Footer -->
                    <footer class="dt-footer"> © 2020  <a href="https://www.ispatialtec.com/" class="ml-2">  iSpatial Techno Solutions</a>, All Rights Reserved </footer>
                    <!-- /footer -->
                </div>
                <!-- /site content wrapper -->
                <!-- Theme Chooser -->
                <!--<div class="dt-customizer-toggle">
                  <a href="javascript:void(0)" data-toggle="customizer"> <i class="icon icon-customizer animation-customizer"></i> </a>
                </div>-->
                <!-- /theme chooser -->
                <!-- Customizer Sidebar -->
                <aside class="dt-customizer dt-drawer position-right"></aside>
                <!-- /customizer sidebar -->
            </main>
        </div>
    </div>
    <!-- /root -->
    <!-- Contact User Information -->
    <!-- /contact user information --> <!-- masonry script -->
    <script src="../scripts/libs/CustomTheme/plugins/masonry-layout/js/masonry.pkgd.min.js"></script>
    <script src="../scripts/libs/CustomTheme/plugins/sweetalert2/js/sweetalert2.js"></script>
    <script src="../scripts/libs/CustomTheme/assets/js/default/functions.js"></script>
    <script src="../scripts/libs/CustomTheme/assets/js/default/customizer.js"></script>
    <script src="../scripts/libs/CustomTheme/assets/js/default/script.js"></script>


    <link rel="stylesheet" href="https://rawgit.com/timschlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.css">
    <script src="https://rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="../scripts/PortalAdmin.Common.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
    <script src="https://rawgit.com/TimSchlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.js"></script>
    <script src="../scripts/PortalAdminClone/CloneUsers.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://js.arcgis.com/4.15/"></script>
    <script>

        $(document).ready(function () {
            $(".fa-sitemap").click(function () {
                $("#GroupInfo").show();
                $("#MainCard").hide();
            });


            $(".fa-pencil").click(function () {
                $("#EditUser").show();
                $("#MainCard").hide();
            });

            $(".close").click(function () {
                $("#GroupInfo").hide();
                $("#EditUser").hide();
                $("#MainCard").show();

            });



            $(".btn-group, .dropdown").hover(
                function () {
                    $('>.dropdown-menu', this).stop(true, true).fadeIn("fast");
                    $(this).addClass('open');
                },
                function () {
                    $('>.dropdown-menu', this).stop(true, true).fadeOut("fast");
                    $(this).removeClass('open');
                });

        });



        $(document).ready(function () {

            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;
            var current = 1;
            var steps = $("fieldset").length;

            setProgressBar(current);

            $(".next").click(function () {

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                setProgressBar(++current);
            });

            $(".previous").click(function () {

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                setProgressBar(--current);
            });

            function setProgressBar(curStep) {
                var percent = parseFloat(100 / steps) * curStep;
                percent = percent.toFixed();
                $(".progress-bar")
                    .css("width", percent + "%")
            }

            $(".submit").click(function () {
                return false;
            })

        });
    </script>
	 <script async src="https://www.googletagmanager.com/gtag/js?id=G-3YV23KEESC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3YV23KEESC');
    </script>
</body>
</html>