<div class="dt-sidebar__container">

    <!-- Sidebar Navigation -->
    <ul class="dt-side-nav">

        <!-- Menu Header -->
        <li class="dt-side-nav__item dt-side-nav__header"> <span class="dt-side-nav__text">Main</span> </li>
        <!-- /menu header -->
        <!-- Menu Item -->

        <li class="dt-side-nav__item Actionitem "> <a href="Dashboard.html" class="dt-side-nav__link "> <i class="fa fa-tachometer" aria-hidden="true"></i> <span class="dt-side-nav__text">Dashboard</span> </a> </li>
        <li class="dt-side-nav__item Actionitem"> <a href="Users.html" class="dt-side-nav__link"> <i class="fa fa-user" aria-hidden="true"></i> <span class="dt-side-nav__text">Users</span> </a> </li>
        <li class="dt-side-nav__item Actionitem"> <a href="Items.html" class="dt-side-nav__link"> <i class="fa fa-list-ol" aria-hidden="true"></i> <span class="dt-side-nav__text">Items</span> </a> </li>
        <li class="dt-side-nav__item Actionitem"> <a href="Groups.html" class="dt-side-nav__link"> <i class="fa fa-users" aria-hidden="true"></i> <span class="dt-side-nav__text">Groups</span> </a> </li>
        <li class="dt-side-nav__item Actionitem"> <a href="Folders.html" class="dt-side-nav__link"> <i class="fa fa-folder-open" aria-hidden="true"></i> <span class="dt-side-nav__text">Folders</span> </a> </li>

        <!-- /menu item -->
        <!-- Menu Header -->
        <li class="dt-side-nav__item dt-side-nav__header"> <span class="dt-side-nav__text ">Migrate Portal Content</span> </li>
        <!-- /menu header -->
        <!-- Menu Item -->
        <li class="dt-side-nav__item Actionitem"> <a href="CloneItems.html" class="dt-side-nav__link"> <i class="fa fa-list-ol" aria-hidden="true"></i> <span class="dt-side-nav__text ">Copy Items To Organization</span> </a> </li>
        <li class="dt-side-nav__item Actionitem"> <a href="CloneUsers.html" class="dt-side-nav__link"> <i class="fa fa-user" aria-hidden="true"></i><span class="dt-side-nav__text ">Copy Users To Organization</span> </a> </li>
        <li class="dt-side-nav__item Actionitem"> <a href="CloneGroups.html" class="dt-side-nav__link"> <i class="fa fa-users" aria-hidden="true"></i><span class="dt-side-nav__text ">Copy Groups To Organization</span> </a> </li>
        <li class="dt-side-nav__item Actionitem"> <a href="CloneRoles.html" class="dt-side-nav__link"> <i class="fa fa-graduation-cap" aria-hidden="true"></i><span class="dt-side-nav__text ">Copy Roles To Organization</span> </a> </li>

        <!-- /menu item -->

    </ul>
    <!-- /sidebar navigation -->

</div>